
{% extends '::base.html.twig' %}
{% block title %}Créer une remarque_Anonote{% endblock %}

{% block body %}
<!-- main -->

                      
                        <!-- content -->

                      
                        <div class="row">    
                          <div class="col-sm-4 text-center">
                            <h4>Préparer</h4>
                            <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
                            
                          </div>
                          <div class="col-sm-4 text-center">
                            <h4>Approuver</h4>
                            <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a> 
                          </div>
                          <div class="col-sm-4 text-center">
                            <h4>Envoyer</h4>
                            <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
                          </div>
                        </div>
                        
                        <hr>
                        <div class="text-center">
                        {% if app.user %}
                        <a href="{{path('Ajouter_Remarque')}}" role="button" class="btn btn-danger">Envoyer une critique maintenant</a>
                        {% else %}
                        <a href="{{path('fos_user_security_login')}}" role="button" class="btn btn-danger">Envoyer une critique maintenant</a>
                        {% endif %}
                        
                        </div>                   
                      
                      

{% endblock %}